# AWS Configuration (For S3 Image Storage)
AWS_ACCESS_KEY_ID=your_aws_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
AWS_REGION=your_aws_region
AWS_S3_BUCKET=your_bucket_name

# Email SMTP Configuration (For Notifications)
SMTP_SENDER_EMAIL=your_office_email@gmail.com
SMTP_SENDER_PASSWORD=your_google_app_password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Database Configuration
MONGO_URL=mongodb+srv://user:pass@cluster.mongodb.net/
DB_NAME=hrms
